[Unit]
Description=Disable Wakeup Devices
After=suspend.target

[Service]
Type=oneshot
ExecStart=/home/mrjulian/dotfiles/scripts/disable_wakeup_from_suspend_usb_devices/disable_wakeup_from_suspend_usb_devices.sh

[Install]
WantedBy=multi-user.target

