"*":
  "atom-material-ui":
    colors:
      abaseColor: "#aad875"
      accentColor: "#6f8853"
      predefinedColor: "Green"
    fonts:
      fontSize: 10
    tabs:
      compactTabs: true
      stretchedTabs: true
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "linter-pycodestyle"
      "linter"
      "linter-ui-default"
    ]
    telemetryConsent: "limited"
    themes: [
      "material-ui"
      "one-dark-syntax"
    ]
  editor:
    fontSize: 12
    softWrap: true
    zoomFontWhenCtrlScrolling: false
  "exception-reporting":
    userId: "9f6458a1-81a6-47de-87e4-833ff171d207"
  github:
    automaticCommitMessageWrapping: false
  "linter-ui-default": {}
  "markdown-preview": {}
  "spell-check":
    locales: [
      "es-ES"
    ]
  tabs:
    enableMruTabSwitching: false
  welcome:
    showOnStartup: false

